opencv-python~=4.7.0.72
vosk~=0.3.44
pyttsx3~=2.90
opencv-contrib-python~=4.7.0.72



cython~=0.29.34

djitellopy~=2.5.0
google~=3.0.0
openai~=0.28.0
Pillow~=10.0.0
matplotlib~=3.7.2
tqdm~=4.66.1
mediapipe~=0.10.3

mediapipe~=0.10.3
torch~=2.1.0
torchvision~=0.16.0
Pillow~=10.0.0
matplotlib~=3.7.2
pandas~=2.1.1
tqdm~=4.66.1
ultralytics~=8.0.199
google~=3.0.0
openai~=1.6.1
tiktoken~=0.5.1