recursive-include dronebuddylib/atoms/bodyfeatureextraction/resources *
recursive-include dronebuddylib/atoms/facerecognition/resources *
recursive-include dronebuddylib/atoms/facerecognition/resources/images *
recursive-include dronebuddylib/atoms/objectdetection/resources *
recursive-include dronebuddylib/atoms/speechgeneration/resources *
recursive-include dronebuddylib/atoms/speechrecognition/resources/vosk-model-small-en-us-0.15 *
recursive-include dronebuddylib/atoms/textrecognition/resources *
recursive-include dronebuddylib/atoms/textrecognition/resources/images *
recursive-include dronebuddylib/atoms/intentrecognition/resources *
recursive-include dronebuddylib/atoms/configurations *
recursive-include dronebuddylib/atoms *
recursive-include dronebuddylib/molecules *
recursive-include dronebuddylib/models *
recursive-include dronebuddylib/configurations *
recursive-include dronebuddylib/exceptions *
recursive-include dronebuddylib/utils *
recursive-include dronebuddylib/atoms *

include README.md

include requirements.txt
